.container{
    display: flex;
    height: 90vh;
    justify-content: center;
    flex-wrap: wrap;

}
.item{
    padding: 40px;
    font-size: 25px;
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    background-color: orange;
}
.item a{
    text-decoration: none;
    font-size: 30px;
    color: black;
}
.item:hover{
    background-color: yellow;
}

form{
    width: 25%;
    border: 1px solid black;
    background-color: oldlace;
    padding: 10px;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: gainsboro;
}

form div {
    margin: 10px 0;
}

input[type="checkbox"] {
    width: fit-content;
}

label{
    font-weight: bold;
}


